* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.component {
  display: grid;
  height: 95vh;
  background-color: #e5e7eb;
  grid-template-columns: 75% 25%;
  width: 100%;
  grid-gap: 0;
}

.chatbot-box {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  min-width: 250px;
  margin: 2px;
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.icon-chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  margin: 0 7%;
}

.reset-icon {
  margin: 0 7% 0 45%;
}

.selected {
  background: #c4c0c0;
  padding: 2px;
}

.message-div {
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0rem !important;
}

.message-div::-webkit-scrollbar {
  width: 0;
  height: 0;
  width: 0;
  height: 0;
}

.message-div::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 1);
  border-radius: 6.67px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.chatbot-container {
  margin: 5% 5% 5% 0;
  width: 90%;
  position: relative;
  top: 0;
  right: 0;
}

.box {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 20px 0 10px;
  border: groove;
  border-radius: 10px;
  border-color: #e5e7eb;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-width: thin;
  height: 94%;
  margin: 2%;
  background-color: white;
}

.side-panel {
  height: 85% !important;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.chart-holder {
  border: groove;
  border-width: thin;
  height: 50%;
  width: 95%;
  margin-top: 20%;
  margin-left: 2.5%;
  border-color: #e5e7eb;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

p {
  max-width: 70%;
  word-wrap: break-word;
}

.chart-name {
  align-items: center;
  padding: 10px;
}

@media(max-width: 1090px) {
  .component {
    grid-template-columns: 70% 25%;
  }
}

/* Mobile view styles */
@media (max-width: 768px) {
  .message-div {
    height: 480px;
  }

  .chatbot {
    display: flex;
    flex-direction: column;
    height: 750px;
  }

  .chatbot-box {
    max-width: 650px;
    margin: 0;
    width: 85%;
    height: 85%;
  }

  .chatbot-container {
    order: 1;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .box {
    order: 2;
    margin-top: calc(4rem + 1.5rem + 20px);
    flex-grow: 1;
  }
}

@media (max-width: 530px) {
  .chatbot-box {
    margin: 5%;
    max-width: 380px;
  }
}

@media (max-width: 450px) {
  .component {
    margin: 2px;
  }

  .chatbot-box {
    margin: 0;
  }
}