body {
  overflow: hidden;
}

.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatbot-box {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  min-width: 250px;
  margin: 0 auto;
}

.message-div {
  height: 520px;
  max-height: 520px;
  overflow-y: scroll;
  padding-right: 0rem !important;
}

/* Hide the scrollbar */
.message-div::-webkit-scrollbar {
  width: 0; 
  height: 0; 
}

.message-div::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 1);
  border-radius: 6.67px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.chatbot-container {
  margin: 1rem;
}

p {
  max-width: 70%;
  word-wrap: break-word;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .component {
    flex-direction: column-reverse;
    margin: 1.5rem 1rem;
  }
  .message-div{
    height:480px;
  }
  .chatbot {
    display: flex;
    flex-direction: column;
    height: 750px;
  }

  .chatbot-box {
    max-width: 650px;
    margin: 0;
    width: 85%;
    height: 85%;
  }

  .chatbot-container {
    order: 1;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .box {
    order: 2;
    margin-top: calc(4rem + 1.5rem + 20px);
    flex-grow: 1;
  }
}

@media (max-width: 530px) {
  .chatbot-box {
    margin: 5%;
    max-width: 380px;
  }

}

@media (max-width: 450px) {
  .component {
    margin: 2px;
  }

  .chatbot-box {
    margin: 0;
  }

}

/* Laptop view styles */
@media (min-width: 769px) {
  .component {
    flex-direction: row;
    margin: 1.5rem 1rem;
  }

  .box {
    width: 70%;
  }

  .chatbot-container {
    width: 30%;
    position: relative;
    top: 0;
    right: 0;
  }

}